fieldset {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}

legend {
  text-align: center;
}

.activity-dashboard {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

input,
select {
  font-size: 1.75rem;
  margin-left: 1rem;
}

select {
  padding: 0.2rem;
}

h2 {
  font-size: 2.5rem;
}

.activity-form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.submit-button {
  align-self: flex-end;
  padding: 0.5rem;
}

.activity-item {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  border: 0.1rem solid;
  width: 20%;
  padding: 1rem;
  position: relative;
}

.delete-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  border: none;
}

.modal-button {
  width: 10rem;
  font-size: 1.5rem;
  padding: 0.2rem;
}

.activity-log {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.date-filter {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 2rem;
}

.calories-burned {
  font-size: 1.2rem;
}

.modal-button {
  background-color: rgba(98, 95, 95, 0.734);
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.538);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.activity-form-modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.clear-filter-button {
  padding: 0.3rem;
}
