fieldset {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 1rem;
  justify-content: center;
}

legend {
  text-align: center;
  color: #fff;
  font-size: 3rem;
}

html {
  font-size: 62.5%;
}

.activity-dashboard {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

input,
select {
  font-size: 2rem;
  margin-left: 1rem;
  color: #2c2b2b;
}

select {
  padding: 0.2rem;
}

.activity-dashboard h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #d59ce8;
}

label {
  color: black;
}

.activity-form {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: transparent;
  border: none;
}

.submit-button {
  align-self: flex-end;
  padding: 0.5rem;
}

.activity-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 0.1rem solid #d8dee7;
  width: 30rem;
  height: 10rem;
  position: relative;
  gap: 1rem;
}

.activity-item p {
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: rgb(117, 114, 114);
  font-weight: bold;
}

.activity-image {
  width: 10rem;
  height: 10rem;
}

.delete-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
}

.modal-button {
  width: 15rem;
  font-size: 2rem;
  padding: 0.2rem;
}

.activity-log {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.date-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.date-filter label {
  color: rgb(120, 119, 119);
  font-size: 1.5rem;
}

.date-filter input {
  font-size: 1.5rem;
  padding: 0.5rem;
  color: rgb(120, 119, 119);
  width: 12rem;
  border: 0.1rem solid #d8dee7;
}

.calories-burned {
  font-size: 1.2rem;
}

.modal-button {
  background-color: #fa8597;
  color: #fff;
  padding: 1rem 0;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  font-size: 1.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.538);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.activity-form-modal {
  display: flex;
  flex-direction: column;
  background-color: #f99393b8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(249, 238, 238, 0.3);
}

.clear-filter-button {
  font-size: 1rem;
  height: 50%;
  padding: 0.5rem;
  color: rgb(120, 119, 119);
  background: none;
  border: solid 0.1rem;
}

.activity-history {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.activity-log-histoty {
  display: flex;
  flex-direction: row;
}

.todays-activities {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.activity-home-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}
