.rdp {
  margin-top: 18px;
  color: #ccc;
  --rdp-cell-size: 22px;
  --rdp-caption-font-size: 18px;
  --rdp-accent-color: #ff3c6e;
  --rdp-background-color: rgba(0, 0, 0, 0.217) !important;
  --rdp-outline: 2px solid var(--rdp-accent-color);
  --rdp-outline-selected: 3px solid var(--rdp-accent-color);
  --rdp-selected-color: #fff;
}

.rdp-months {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background: #8271e5;
  border-radius: 20px;
  width: 300px;
  height: 430px;
}

.rdp-day_selected {
  color: #fff;
}

/* Modal */
.foodContent {
  position: relative;
  color: #ccc;
  background: rgba(52, 51, 68, 0.786);
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #cccccc3b;
  width: 300px;
  padding: 30px;
}

.ReactModal__Content {
  display: flex;
  margin-top: 128px;
  height: 370px;
  width: 320px;
  border: hidden !important;
}

.ReactModal__Content--after-open {
  display: flex;
  background-color: transparent !important;
}

.ReactModal__Overlay {
  background-color: transparent !important;
}

p {
  font-size: 18px;
  color: #fff;
  line-height: 15px;
}

.pick {
  font-size: 18px !important;
  color: #bcf6a3;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}

.picked {
  color: #78cdf8;
}

p {
  line-height: 30px;
}

.rdp-cell {
  padding: 5px;
}
