/* MealPlannerComponent.css */

.meal-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 18px;
  color:#f68a3c;
}

/* Meal Item */
.meal-item {
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2em; 
  margin-bottom: 2em; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.meal-item:hover {
  transform: scale(1.05);
}

/* Meal Image */
.meal-image {
  width: 100%;
  max-height: 40em;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

/* Meal Details */
.meal-details {
  padding: 20px;
  flex-grow: 1;
  box-sizing: border-box;
}
p{
  color:#d69ff4;
}

.view-recipe-link {
  display: block;
  text-align: center;
  padding: 15px 30px;
  background-color: #cfaad7;
  color: #0f0404;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
  margin-top: auto;
}

.view-recipe-link:hover {
  background-color: #c0392b;
}

.title {
  color: #f68a3c;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  margin-top: 2em;
}

/* Loading and Error Messages */
.loading,
.error {
  text-align: center;
  font-size: 18px;
  color: #d9534f;
  margin-top: 2em;

}
/* Media query for smartphones */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px; 
  }
}



