body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

.navbar {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nav-item {
  font-size: 6rem;
  background-color: transparent;
  border: none;
  color: #F68A3C;
}
