html {
  font-size: 62.5%; /*1 rem = 10px;*/
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.nav-item {
  font-size: 7rem;
  background-color: transparent;
  border: none;
  color: rgb(242, 155, 49);
}
