@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;1,200&display=swap');

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.dataContent {
    display: flex;
    flex-direction: column;
}

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  color: #FFF;
  font-size: 50px;
  margin-bottom: -10px;
}

.recharts-legend-wrapper {
  padding: 10px;
  background-color: rgba(52, 51, 68, 0.299) !important;
  border-radius: 20px;
}
