* {
  margin: 0;
  padding: 0;
}

.container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}


.weekly-progress-container,
.WeeklyGoals {  
  padding: 9px;
  background-color: #f5f7fa;
  height: fit-content;
  margin: 2rem; 
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 0.2rem solid #d59ce8;
  padding: 2rem;
  width: 100%;
  border-radius: 1.5rem;
}


.date-text,
.button-text {
  font-size: 15px;
  color: darkblue;
}


.Select {
  width: 100%;
  margin-bottom: 20px;
}

.WeeklyGoals form {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f7fa;
}

.WeeklyGoals label {
  font-size: 20px;
  margin-bottom: 8px;
  color: #001f3f;
}

.WeeklyGoals input {
  color: #f68a3c;
  font-weight: bolder;
  width: 55%;
  padding: 10px;
  margin-bottom: 4px;
  border: 2px solid #ccc;
  border-radius: 20px;
  box-sizing:content-box;
}

.WeeklyGoals button {
  background-color: #FA8597;
  color: white;
  padding: 5px;
  font-size: 15px;
  border:#f68a3c;
  border-radius: 4px;
  border-radius: 20px;
  cursor: pointer;
}
