/* RenderLineChart.css */

/* Line Chart Container */
.line-chart-container {
  text-align: center;
  padding: 5%; /* Use percentage for padding */
  background-color: rgb(63, 3, 74);
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin-top: auto;
}

.line-chart-container:hover {
  transform: scale(1.02);
}

/* Chart Title */
.chart-title {
  color: #f0ebeb;
  font-size: 2.5em; /* Use em for font size */
  margin-bottom: 2%; /* Use percentage for margin */
  animation: fadeInUp 1s ease-in-out;
}

/* Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .line-chart-container {
    padding: 10px;
  }

  .chart-title {
    font-size: 1.5em;
    margin-bottom: 5px;
  }
}
