/* RenderLineChart.css */

.line-chart-container {
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: rgb(63, 3, 74); 
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin-top:auto;
}

.line-chart-container:hover {
  transform: scale(1.02);
}

.chart-title {
  color: #f0ebeb;
  display: center;
  font-size: 28px;
  margin-bottom: 20px;
  animation: fadeInUp 1s ease-in-out;
}






